.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.is-m {
    display: none !important;
}

@media (max-width: 1250px) {
    .is-pc {
        display: none !important;
    }

    .is-m {
        display: block !important;
    }

    .wrapper {
        padding: 0 20px;
    }
}

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
    background: rgba(83, 36, 114, 1);
}

button {
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}

.inner {
    background: rgba(83, 36, 114, 1);
    padding: 1rem;
    height: 100vh;
}

.inner .header {
    display: flex;
    align-items: center;
}

.inner .header img {
    width: 15%;
    padding: 1rem;
}

.inner .header h2 {
    width: 90%;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
}

.inner .input-box {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 30px;
}

.inner .input-box .inner-input {
    display: flex;
    padding: 0.5rem;
    font-size: 1rem;
    align-items: center;
}

.inner-input p:first-child {
    font-size: 2rem;
    color: rgba(83, 36, 114, 1);
    padding-right: 1rem;
    width: 20%;
    text-align: center;
}

.inner-input p:last-child {
    width: 80%;
    height: 3rem;
    border: 1px solid rgba(83, 36, 114, 1);
    border-radius: 30px;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
}

.inner .input-box .result {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.inner .input-box .result p:first-child {
    font-size: 3rem;
    color: rgba(83, 36, 114, 1);
    padding-right: 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#result_box {
    width: 100%;
}

.inner .input-box .result .result-text {
    width: 80%;
    height: 8rem;
    text-align: center;
    background-color: rgba(83, 36, 114, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 7rem;
    padding: 1rem 0;
    border-radius: 30px;
}

@media (max-width: 1250px) {
    /* 가로 사이즈가 1250px일 때 어떻게 할 건지 설정하는 부분 */
}
