<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
    <title>MarketKurly Check System</title>
    <link rel="icon" type="image/x-icon" href="./kurly_logo_purple.png">
	<!--css 파일 위치-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper login-wrap">
		<div class="inner">
				<div class="header">
					<img src="./kurly_logo_white.png" />
					<h2>바코드를 찍어 주세요</h2>
				</div>
				<div class="input-box">
					<div class="inner-input">
						<p>실제 중량</p>
						<c>${}kg</c>
					</div>
					<div class="inner-input">
						<p>예상 중량</p>
						<c>${}kg</c>
					</div>
					<div class="result" >
						<p>결과</p>
						<div class="result-text">
							<b>PASS</b>
						</div>
					</div>
				</div>
		</div>
	</div>
</body>
</html>