<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MarketKurly Check System</title>
    <link rel="icon" type="image/x-icon" href="../static/kurly_icon_purple.png">
    <!--css 파일 위치-->
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<main id="main-holder">
    <h1 id="login-header"><img src="../static/kurly_logo_purple.png" /><br>중량 체크 시스템</h1>

    <form id="login-form" method="POST" action="api/login">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="아이디를 입력해주세요">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="비밀번호를 입력해주세요">
      <input type="submit" value="로그인" id="login-form-submit">
    </form>

  </main>
</body>
</html>